In [14]:
import pandas as pd
# read csv file
nation = pd.read_csv("nation.csv", encoding="utf-8")

In [19]:
nation

,District/township/town/city,NOC_CountryRegion,Alpha-2 code,year,season
0,Melbourne/Stockholm,AUS,AS,1956,summer
1,Sydney,AUS,AS,2000,summer
2,Innsbruck,AUT,AT,1964,winter
3,Innsbruck,AUT,AT,1976,winter
4,Antwerp,BEL,BE,1920,summer
5,Antwerp,BEL,BE,1920,winter
6,Montreal,CAN,CA,1976,Summer
7,Lake Placid,CAN,CA,1980,Winter
8,Calgary,CAN,CA,1988,Winter
9,St. Moritz,SUI,SZ,1928,Winter
10,St. Moritz,SUI,SZ,1948,Winter
11,Beijing,CHN,CH,2008,summer
12,Berlin,GER,GM,1936,summer
13,Garmisch-Partenkirchen,GER,GM,1936,winter
14,Barcelona,​​ESP,SP,1992,summer

In [20]:
alldata1 = list(nation[' season'])
alldata1

['summer',
 ' summer',
 ' winter',
 ' winter',
 ' summer',
 ' winter',
 ' Summer',
 ' Winter',
 ' Winter',
 ' Winter',
 ' Winter',
 ' summer',
 ' summer',
 ' winter',
 ' summer']

In [24]:
A1 = {'summer', ' summer', ' winter', ' winter', ' summer', ' winter', ' Summer', ' Winter', ' Winter', ' Winter', ' Winter', ' summer', ' summer', ' winter', ' summer'}
A2 = {' winter', ' Summer', ' Winter'}

print (A1&A2)
print (A1|A2)
print (A1-A2)
print ((A1|A2)-(A1&A2))

{' winter', ' Winter', ' Summer'}
{' summer', ' winter', 'summer', ' Summer', ' Winter'}
{' summer', 'summer'}
{' summer', 'summer'}

In [7]:
import pandas as pd
# read csv file
nation = pd.read_csv("nation.csv", encoding="utf-8")